doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    link(rel='stylesheet', href='styles/main.styl')
  body
    div( class = 'img-inside')
      img( src = 'images/head01.png' )
      img( src = 'images/02.png' )
      img( src = 'images/03.png' )
      img( src = 'images/04.png' )
      img( src = 'images/05.png' )
      img( src = 'images/06.png' )
      img( src = 'images/07.png' )
    div( class = 'link-wrap' )
      a( href = 'http://m.jimubox.com/activity/spring/app?__inline')
        img( src = 'images/button.png')
      p( class= 'first') 拒绝做理财小白！
      p 注册就送10-1000元现金礼包哦!
      
